@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

/* Reset default value of browser and add ground color and font */
*{
    padding: 0;
    margin: 0;
    border:none;
}

body {
	font-family: 'Lora', Arial, sans-serif;
	background-color: #d8f5e5;
}

/* Header image */

.page-header{
    background: url(../media/sunsetvines.jpg) center 55% /cover no-repeat;
    background-color: #556B2F;
    text-align: left;
    color: #e6f7ee ;
    height: 150px;
}

.page-header h1 {
    font-size: 200%;
    margin-left: 5px;
}

/* Nav menu */

.nav{
    background-color: #32251b;
    height: 30px;
    width: 100%;  
    text-align: center;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
    font-size: 110%;
    margin-right:50px;
}

.nav-menu a {
    text-decoration: none;
    color: #e6f7ee;
}

.nav-menu a:hover{
    background-color: #d8f5e5;
    color: #32251b;
}

.active {
    border-bottom: 3px solid #556B2F;
}

/* Fact box and img */

#general-fact {
    height: 500px;
    margin: 5px;
}

.fact-box {
    float: left;
    width: 33%;
    
}

.img-box {
    width: 33%;
    margin: 0 auto;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
} 

.speed-fact {
    float: right;
    border: #32251b solid 2px;
    border-radius: 5%;
    width: 33%;
    
}

.speed-fact li {
    list-style-type: none;
    margin: 3px 0;
}

.speed-fact ul {
    margin: 10px 0;
}