@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

/* Reset default value of browser and add ground color and font */
*{
    padding: 0;
    margin: 0;
    border:none;
}

body {
	font-family: 'Lora', Arial, sans-serif;
	background-color: #d8f5e5;
    color: #32251b;
}

/* Header image */

.page-header{
    background: url(../media/sunsetvines.jpg) center 55% /cover no-repeat;
    background-color: #556B2F;
    text-align: left;
    color: #e6f7ee ;
    height: 150px;
}

.page-header h1 {
    font-size: 200%;
    margin-left: 5px;
}

/* Nav menu */

.nav{
    background-color: #32251b;
    height: 30px;
    width: 100%;  
    text-align: center;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
    font-size: 110%;
    margin-right: 100px;
}

.nav-menu a {
    text-decoration: none;
    color: #e6f7ee;
}

.nav-menu a:hover{
    background-color: #d8f5e5;
    color: #32251b;
}

.active {
    border-bottom: 3px solid #556B2F;
}

/* Fact box and img */

.fact-section {
    margin-left: 3px;
    height: 600px;
}

.fact-section div {
    box-sizing: border-box;
}

.general-fact {
    float: left;
    width: 33%; 
    text-align: center;
    margin-top: 30px; 
}
.general-fact h2 {
    text-decoration: underline #32251b;
}
.img-box {
    width: 33%;
    margin: 0 auto;
}

.img-box img {
    max-width: 100%;
    margin-top: 30px;
    border-radius: 50%;
    
} 
.img-box video {
    max-width: 100%;
    margin-top: 30px;
    
} 

.speed-fact {
    float: right;
    border: #32251b solid 2px;
    width: 33%;
    margin-top: 30px;
}
.speed-fact h3 {
    text-decoration: underline #32251b;
    text-align: center;
}

.speed-fact li {
    list-style-type: none;
    margin: 3px 0;
}

.speed-fact ul {
    margin: 5px 0;
    
}

/* news letter form */

form {
    width: 800px;
    margin: 50px auto;
    background-color: #a3bd76;
}

#news-letter {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}


.text-input {
    margin: 0 auto;
    width: 50%;
    display: block;
}

#button{
    margin-top: 10px;
    clear: both;
}

input[type=submit] {
    background-color: #556B2F;
    color: #d8f5e5;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type=reset] {
    background-color: #32251b;
    color: #d8f5e5;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 5px;
    
}


/* footer  and social links*/

footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0; 
}

footer ul {
    text-align: center;
    background-color: #32251b;
    height: 100%;
}

footer li {
    display: inline;
    color: #d8f5e5;
}

footer i {
    font-size: 150%;
    margin: 0 5%;
    padding: 10px;
    color: #d8f5e5;
    
}
#author {
    float: right;
    margin: 0 5px;
    padding: 10px;
}

/* Media queries */

/* For screens up to 1100px */
@media screen and (max-width: 1100px) {
.fact-section {
    width: 75%;
    height: 1200px;
    margin: 0 auto;
    text-align: center;
    }
.general-fact, .speed-fact {
    width: 100%;
    float: left;
    margin: 0;
    }
.img-box {
    clear: both;
    width: 100%;
    }
    .img-box img {
        margin: 0;
        }    
}

/* for screens up to 650px */
@media screen and (max-width: 650px) {
    .nav-menu li {
        margin: 0 5px;
        padding: 0;
    }
    form {
        width: 75%;
    }
} 




